<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交申请</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <script src="../static/layui/layui.js"></script>
    {#    <script src="../static/layui/lay/modules/layer.js"></script>#}
    {#    <script src="../static/layui/lay/modules/jquery.js"></script>#}
    {#	<script src="../static/layui/lay/modules/laydate.js"></script>#}

</head>
<body>{% autoescape true %}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>请选择您要申请的业务</legend>
</fieldset>

<p style="align-content: center">
    {% for massage in get_flashed_messages() %}
        <div><p style="text-align: center">{{ massage }}</p></div>
    {% endfor %}
</p>

<div class="layui-collapse" lay-filter="test">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">复学类申请</h2>
        <div class="layui-colla-content">
            <fieldset class="layui-elem-field" style="border-radius: 10px;" align="center">
                <legend>复学类申请</legend>
                <div class="layui-field-box">
                    <form method="post">
                        {{ FX_FORM.csrf_token }}
                        <div class="layui-form">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                    <div class="layui-input-inline">
                                        {{ FX_FORM.name(class="layui-input",placeholder='请输入您的姓名') }}

                                                {% for message in FX_FORM.name.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                    </div>
                                </div>

                                <div class="layui-form">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                                            <div class="layui-input-inline">
                                                {{ FX_FORM.stu_num(class="layui-input",placeholder="请输入您的学号") }}
                                                {% for message in FX_FORM.stu_num.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="layui-form">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">申请原因</label>
                                                    <div class="layui-input-inline">
                                                        {{ FX_FORM.reason(placeholder="请输入您办理此事项的原因",class="layui-textarea") }}
                                                {% for message in FX_FORM.reason.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                        {#						 {{ form.reason(placeholder="请输入您办理此事项的原因",class="layui-textarea") }}#}
                                                    </div>
                                                </div>


                                                <div class="layui-form-item">
                                                    <div class="layui-input-block">
                                                        <button type="reset" class="layui-btn layui-btn-primary">重置
                                                        </button>
                                                        {{ FX_FORM.Submit_FX(class="layui-btn") }}

                    </form>
            </fieldset>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">转专业申请</h2>
        <div class="layui-colla-content">

            <fieldset class="layui-elem-field" style="border-radius: 10px;" align="center">
                <legend>转专业申请</legend>
                <div class="layui-field-box">

                    <form method="post">
                        {{ ZZY_FORM.csrf_token }}
                        <div class="layui-form">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                    <div class="layui-input-inline">
                                        {{ ZZY_FORM.name(class="layui-input",placeholder='请输入您的姓名') }}
                                                {% for message in ZZY_FORM.name.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                    </div>
                                </div>
                                <div class="layui-form">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                                            <div class="layui-input-inline">
                                                {{ ZZY_FORM.stu_num(class="layui-input",placeholder="请输入您的学号") }}
                                                {% for message in ZZY_FORM.stu_num.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="layui-form" style="margin-top: 12px;display: none">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">所在院系</label>
                                                    <div class="layui-input-inline">
                                                        {{ ZZY_FORM.campus(class="layui-input",value="none") }}
                                                {% for message in ZZY_FORM.campus.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                        {#							 <input type="text" class="layui-input" placeholder="请输入您所在的院系">#}
                                                    </div>
                                                </div>
                                            </div>
                                            例如：软件学院
                                        </div>

                                        <div class="layui-form" style="display: none">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">所在专业</label>
                                                    <div class="layui-input-inline">
                                                        {{ ZZY_FORM.discipline(class="layui-input",value="none") }}
                                                {% for message in ZZY_FORM.discipline.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                        {#								 <input type="text" class="layui-input" placeholder="请输入您所在的专业">#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="layui-form">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">原宿舍号</label>
                                                    <div class="layui-input-inline">
                                                        {{ ZZY_FORM.dom_dorm(class="layui-input",placeholder="请输入宿舍号") }}
                                                {% for message in ZZY_FORM.dom_dorm.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                        {#						 <input type="text" class="layui-input" placeholder="请输入宿舍号(限制三位)">#}
                                                    </div>
                                                </div>


                                                <div class="layui-form">
                                                    <div class="layui-form-item">
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label">申请原因</label>
                                                            <div class="layui-input-inline">
                                                                {{ ZZY_FORM.reason(placeholder="请输入您办理此事项的原因",class="layui-textarea") }}
                                                {% for message in ZZY_FORM.reason.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="layui-form-item">
                                                        <div class="layui-input-block">
                                                            <button type="reset" class="layui-btn layui-btn-primary">
                                                                重置
                                                            </button>
                                                            {{ ZZY_FORM.Submit_ZZU(class="layui-btn") }}

                                                        </div>
                                                    </div>
                    </form>
            </fieldset>

        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">休学类申请</h2>
        <div class="layui-colla-content">

            <fieldset class="layui-elem-field" style="border-radius: 10px;" align="center">
                <legend>休学类申请</legend>
                <div class="layui-field-box">

                    <form method="post">
                        {{ XX_FORM.csrf_token }}
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                <div class="layui-input-inline">
                                    {{ XX_FORM.name(class="layui-input",placeholder='请输入您的姓名') }}
                                                {% for message in XX_FORM.name.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                    {#					 {{ form.name(class="layui-input",placeholder='请输入您的姓名') }}#}
                                </div>
                            </div>
                        </div>
                        <div class="layui-form">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                                    <div class="layui-input-inline">
                                        {{ XX_FORM.stu_num(class="layui-input",placeholder="请输入您的学号") }}
                                                {% for message in XX_FORM.stu_num.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="layui-form-item">
                                  <div class="layui-inline">
                              <label class="layui-form-label" align="center">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label>
                              <div class="layui-input-inline">
                                <input type="radio" name="sex" value="男" title="男" checked="checked">
                                <input type="radio" name="sex" value="女" title="女">
                              </div>
                            </div>
                              </div> -->

                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">个人联系方式</label>
                                        <div class="layui-input-inline">
                                            {{ XX_FORM.per_tel(class="layui-input",placeholder="请输入个人联系方式") }}
                                                {% for message in XX_FORM.per_tel.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">家庭联系方式</label>
                                            <div class="layui-input-inline">
                                                {{ XX_FORM.home_tel(class="layui-input",placeholder="请输入家庭联系方式") }}
                                                {% for message in XX_FORM.home_tel.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 待做：此处需做限制字符处理 -->
                                    <div class="layui-form">
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">通讯地址</label>
                                                <div class="layui-input-inline">
                                                    {{ XX_FORM.home_address(class="layui-input",placeholder="请输入您的联系地址") }}
                                                {% for message in XX_FORM.home_address.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-form">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">申请原因</label>
                                                    <div class="layui-input-inline">
                                                        {{ XX_FORM.reason(placeholder="请输入您申请休学的原因",class="layui-textarea") }}
                                                {% for message in XX_FORM.reason.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                        {#									 <textarea placeholder="请输入您申请休学的原因" class="layui-textarea"></textarea>#}
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="layui-form-item">
                                                <div class="layui-input-block">
                                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>

                                                    {{ XX_FORM.Submit_XX(class="layui-btn") }}

                                                </div>
                                            </div>
                    </form>
            </fieldset>

        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">退学类申请</h2>
            <div class="layui-colla-content">

                <fieldset class="layui-elem-field" style="border-radius: 10px;" align="center">
                    <legend>退学类申请</legend>
                    <div class="layui-field-box">

                        <form method="post">
                            {{ TXL_FORM.csrf_token }}
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                    <div class="layui-input-inline">
                                        {{ TXL_FORM.name(class="layui-input",placeholder='请输入您的姓名') }}
                                                {% for message in TXL_FORM.name.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                                        <div class="layui-input-inline">
                                            {{ TXL_FORM.stu_num(class="layui-input",placeholder="请输入您的学号") }}
                                                {% for message in TXL_FORM.stu_num.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">个人联系方式</label>
                                            <div class="layui-input-inline">
                                                {{ TXL_FORM.per_tel(class="layui-input",placeholder='请输入您的联系方式') }}
                                                {% for message in TXL_FORM.per_tel.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form">
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">家人联系方式</label>
                                                <div class="layui-input-inline">
                                                    {{ TXL_FORM.home_tel(class="layui-input",placeholder="请输入家庭联系方式") }}
                                                {% for message in TXL_FORM.home_tel.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-form">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">通讯地址</label>
                                                    <div class="layui-input-inline">
                                                        {{ TXL_FORM.home_address(class="layui-input",placeholder="请输入您的联系地址") }}
                                                {% for message in TXL_FORM.home_address.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 待做：此处需做限制字符处理 -->
                                            <div class="layui-form">
                                                <div class="layui-form-item">
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label">申请原因</label>
                                                        <div class="layui-input-inline">
                                                            {{ TXL_FORM.reason(placeholder="请输入您申请退学的原因",class="layui-textarea") }}
                                                {% for message in TXL_FORM.reason.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="layui-form-item">
                                                    <div class="layui-input-block">
                                                        <button type="reset" class="layui-btn layui-btn-primary">重置
                                                        </button>

                                                        {{ TXL_FORM.Submit_TXL(class="layui-btn") }}

                                                    </div>
                                                </div>
                        </form>
                </fieldset>

            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">学历证明申请</h2>
            <div class="layui-colla-content">

                <fieldset class="layui-elem-field" style="border-radius: 10px;" align="center">
                    <legend>学历证明申请</legend>
                    <div class="layui-field-box">

                        <form method="post">
                            {{ XLZM_FORM.csrf_token }}
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                    <div class="layui-input-inline">
                                        {{ XLZM_FORM.name(class="layui-input",placeholder='请输入您的姓名') }}
                                                {% for message in XLZM_FORM.name.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                                        <div class="layui-input-inline">
                                            {{ XLZM_FORM.stu_num(class="layui-input",placeholder="请输入您的学号") }}
                                                {% for message in XLZM_FORM.stu_num.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>


                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">所属校区</label>
                                        <div class="layui-input-inline">
                                            {{ XLZM_FORM.school(class="layui-select") }}
                                                {% for message in XLZM_FORM.school.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                        </div>
                                    </div>


                                    <div class="layui-form" style="margin-top: 12px;">
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">所在院系</label>
                                                <div class="layui-input-inline">
                                                    {{ XLZM_FORM.campus(class="layui-input",placeholder="请输入您所在的院系") }}
                                                {% for message in XLZM_FORM.campus.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-form">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">所在专业</label>
                                                    <div class="layui-input-inline">
                                                        {{ XLZM_FORM.discipline(class="layui-input",placeholder="请输入您所在的专业") }}
                                                {% for message in XLZM_FORM.discipline.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;制</label>
                                                    <div class="layui-input-inline">
                                                        {{ XLZM_FORM.leng_school(class="layui-select") }}
                                                {% for message in XLZM_FORM.leng_school.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                    </div>
                                                </div>


                                                <div class="layui-form" style="margin-top: 12px;">
                                                    <div class="layui-form-item">
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label">证书编号</label>
                                                            <div class="layui-input-inline">

                                                                {{ XLZM_FORM.code(class="layui-input",placeholder="请输入您的证书编号") }}
                                                {% for message in XLZM_FORM.code.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="layui-form">
                                                        <div class="layui-form-item">
                                                            <div class="layui-inline">
                                                                <label class="layui-form-label">申请原因</label>
                                                                <div class="layui-input-inline">
                                                                    {{ XLZM_FORM.reason(placeholder="请输入您申请学历证明的原因",class="layui-textarea") }}
                                                {% for message in XLZM_FORM.reason.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="layui-form-item">
                                                            <div class="layui-input-block">
                                                                <button type="reset"
                                                                        class="layui-btn layui-btn-primary">重置
                                                                </button>
                                                                {{ XLZM_FORM.Submit_XLZM(class="layui-btn") }}

                                                            </div>
                                                        </div>
                        </form>
                </fieldset>


            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">保留学籍申请</h2>
            <div class="layui-colla-content">

                <fieldset class="layui-elem-field" style="border-radius: 10px;" align="center">
                    <legend>保留学籍申请</legend>
                    <div class="layui-field-box">

                        <form method="post">
                            {{ BLXJS_FORM.csrf_token }}
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                    <div class="layui-input-inline">
                                        {{ BLXJS_FORM.name(class="layui-input",placeholder='请输入您的姓名') }}
                                                {% for message in BLXJS_FORM.name.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                                        <div class="layui-input-inline">
                                            {{ BLXJS_FORM.stu_num(class="layui-input",placeholder="请输入您的学号") }}
                                                {% for message in BLXJS_FORM.stu_num.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">个人联系方式</label>
                                            <div class="layui-input-inline">
                                                {{ BLXJS_FORM.per_tel(class="layui-input",placeholder='请输入个人联系方式') }}
                                                {% for message in BLXJS_FORM.per_tel.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form">
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">家人联系方式</label>
                                                <div class="layui-input-inline">
                                                    {{ BLXJS_FORM.home_tel(class="layui-input",placeholder="请输入家庭联系方式") }}
                                                {% for message in BLXJS_FORM.home_tel.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-form">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">联系地址</label>
                                                    <div class="layui-input-inline">
                                                        {{ BLXJS_FORM.home_address(class="layui-input",placeholder="请输入您的联系地址") }}
                                                {% for message in BLXJS_FORM.home_address.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">截止时间</label>
                                                    <div class="layui-input-inline" name="niho">
                                                        {{ BLXJS_FORM.school_endtime(class="layui-input",placeholder="年/月/日",type="date") }}
                                                {% for message in BLXJS_FORM.school_endtime.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="layui-form">
                                                <div class="layui-form-item">
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label">申请原因</label>
                                                        <div class="layui-input-inline">
                                                            {{ BLXJS_FORM.reason(placeholder="请输入您申请保留学籍的原因",class="layui-textarea") }}
                                                {% for message in BLXJS_FORM.reason.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="layui-form-item">
                                                    <div class="layui-input-block">
                                                        <button type="reset" class="layui-btn layui-btn-primary">重置
                                                        </button>
                                                        {{ BLXJS_FORM.Submit_BLXJS(class="layui-btn") }}

                                                    </div>
                                                </div>
                        </form>
                </fieldset>


            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">注销学籍申请</h2>
            <div class="layui-colla-content">

                <fieldset class="layui-elem-field" style="border-radius: 10px;" align="center">
                    <legend>注销学籍申请</legend>
                    <div class="layui-field-box">

                        <form method="post">
                            {{ ZXXJ_FORM.csrf_token }}
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                    <div class="layui-input-inline">
                                        {{ ZXXJ_FORM.name(class="layui-input",placeholder='请输入您的姓名') }}
                                                {% for message in ZXXJ_FORM.name.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                                        <div class="layui-input-inline">
                                            {{ ZXXJ_FORM.stu_num(class="layui-input",placeholder="请输入您的学号") }}
                                                {% for message in ZXXJ_FORM.stu_num.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">申请原因</label>
                                            <div class="layui-input-inline">
                                                {{ ZXXJ_FORM.reason(placeholder="请输入您申请注销学籍的原因",class="layui-textarea") }}
                                                {% for message in ZXXJ_FORM.reason.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                {#		  		 <textarea placeholder="请输入您申请注销学籍的原因" class="layui-textarea"></textarea>#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                            {{ ZXXJ_FORM.Submit_ZXXJ(class="layui-btn") }}

                                        </div>
                                    </div>
                        </form>
                </fieldset>

            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">在校生学籍证明申请</h2>
            <div class="layui-colla-content">

                <fieldset class="layui-elem-field" style="border-radius: 10px;" align="center">
                    <legend>在校生学籍证明申请</legend>
                    <div class="layui-field-box">

                        <form method="post">
                            {{ ZXSXJ_FORM.csrf_token }}
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                    <div class="layui-input-inline">
                                        {{ ZXSXJ_FORM.name(class="layui-input",placeholder='请输入您的姓名') }}
                                                {% for message in ZXSXJ_FORM.name.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                                        <div class="layui-input-inline">
                                            {{ ZXSXJ_FORM.stu_num(class="layui-input",placeholder="请输入您的学号") }}
                                                {% for message in ZXSXJ_FORM.stu_num.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">身份证号</label>
                                        <div class="layui-input-inline">
                                            {{ ZXSXJ_FORM.identity(class="layui-input",placeholder="请输入您的身份证号") }}
                                                {% for message in ZXSXJ_FORM.identity.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;制</label>
                                        <div class="layui-input-inline">
                                            {{ ZXSXJ_FORM.leng_school(class="layui-select") }}
                                                {% for message in ZXSXJ_FORM.leng_school.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                        </div>
                                    </div>

                                    <div class="layui-form" style="margin-top: 12px;">
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">申请原因</label>
                                                <div class="layui-input-inline">
                                                    {{ ZXSXJ_FORM.reason(placeholder="请输入您申请在校生学籍证明的原因",class="layui-textarea") }}
                                                {% for message in ZXSXJ_FORM.reason.errors %}
                                                    <script>alert("{{ message }}")</script>
                                                {% endfor %}
                                                    {#				  		 <textarea placeholder="请输入您申请在校生学籍证明的原因" class="layui-textarea"></textarea>#}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>

                                                {{ ZXSXJ_FORM.Submit_ZXSXJ(class="layui-btn",alert=message) }}
                                            </div>
                                        </div>
                        </form>
                </fieldset>

            </div>
        </div>
    </div>


    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#test1' //指定元素
            });
        });


    </script>


    <script>
        layui.use(['element', 'layer'], function () {
            var element = layui.element;
            var layer = layui.layer;

            //监听折叠
            element.on('collapse(test)', function (data) {
                // layer.msg('展开状态：'+ data.show);
            });
        });
    </script>


    {#<script language="JavaScript">#}
    {#today=new Date();#}
    {#niho.school_endtime.value=today.getYear()+'年'+today.getMonth()+'月'+today.getDay()+'日';#}
    {#</script>#}
    {% endautoescape %}
</body>
</html>