<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码 - 学籍管理系统</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register-login.css' ) }}">
</head>
<body>
<div id="box"></div>
<div class="cent-box register-box">
    <div class="cent-box-header">
        <h1 class="main-title hide">学院</h1>
        <h2 class="sub-title">学籍管理系统→修改密码</h2>
    </div>

    <div class="cont-main clearfix">

        <div class="login form">
            <div class="group">
                {% for message in get_flashed_messages() %}
                    <div class="alert"><p style="text-align: center">{{ message }}</p></div>
                {% endfor %}
                <form action="{{ url_for('admin_login.teacher_change_password') }}" method="post">
                    {{ form.csrf_token }}
                    <div class="group-ipt password">
                        {{ form.old_password(type="password",id="password",class="ipt",placeholder="请输入您的旧密码") }}
                    </div>
                    <div class="group-ipt password1">
                        {{ form.new_password(type="password",id="password1",class="ipt",placeholder="请输入您的新密码") }}
                    </div>
                    <div class="group-ipt password">
                        {{ form.repeat_password(type="password",id="password1",class="ipt",placeholder="重复输入您的新密码") }}
                    </div>
                    <div class="button">
                        <button type="submit" class="login-btn register-btn" id="button">确认修改</button>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>

<div class="footer">
    <p>学籍管理系统</p>
    <p>Copyright ©同讯科技</p>
</div>

<script src='{{ url_for('static', filename='js/particles.js') }}' type="text/javascript"></script>
<script src='{{ url_for('static', filename='js/background.js') }}' type="text/javascript"></script>
<script src='{{ url_for('static', filename='js/jquery.min.js') }}' type="text/javascript"></script>
<script src='{{ url_for('static', filename='js/layer/layer.js') }}' type="text/javascript"></script>


</body>
</html>