<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>学籍管理系统后台登入</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="../static/dr_css/style.css" tppabs="css/style.css" />
<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script src="../static/dr_js/jquery.js"></script>
<script src="../static/dr_js/verificationNumbers.js" tppabs="js/verificationNumbers.js"></script>
<script src="../static/dr_js/Particleground.js" tppabs="js/Particleground.js"></script>
<script>
$(document).ready(function() {
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });
  //验证码
  createCode();
  //测试提交，对接程序删除即可
  $(".submit_btn").click(function(){
	  location.href="javascrpt:;"/*tpa=http://***index.html*/;
	  });
});
</script>
</head>
<body>

<form action="{{ url_for('admin_login')  }}" method="post">
    {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
<dl class="admin_login">
 <dt>
  <strong>学籍后台管理系统</strong>
  <br>
 </dt>
 <dd class="user_icon">
     {{ form.name(class="login_txtbx",placeholder="姓名") }}
{#  <input type="text" placeholder="账号" class="login_txtbx"/>#}
 </dd>
 <dd class="pwd_icon">
     {{ form.password(class="login_txtbx",placeholder="密码") }}
{#  <input type="password" placeholder="密码" class="login_txtbx"/>#}
 </dd>
{# <dd class="val_icon">#}
{#  <div class="checkcode">#}
{#    <input type="text" id="J_codetext" placeholder="验证码" maxlength="4" class="login_txtbx">#}
{#    <canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>#}
{#  </div>#}
{#  <input type="button" value="验证码核验" class="ver_btn" onClick="validate();">#}
{# </dd>#}
{#    <dt>#}
  <div><strong style="color: #f5f5d5">记住我：</strong><span style="float: right">{{ form.remember }}</span></div>
{# </dt>#}
 <dd>
     <div style="float: bottom">{{ form.Submit(class="submit_btn") }}</div>
{#  <input type="button" value="立即登陆" class="submit_btn"/>#}
 </dd>
</dl>
</form>
</body>
</html>
