<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for message in get_flashed_messages() %}
    <div><p style="text-align: center">{{ message }}</p></div>
{% endfor %}
<form action="{{ url_for('edit_teacher') }}" method="post">

    {{ form.old_password.label }}:{{ form.old_password }}
    {{ form.new_password.label }}:{{ form.new_password }}
    {{ form.repeat_password.label }}:{{ form.repeat_password }}
    {{ form.Submit }}

</form>

</body>
</html>