{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    </div>
{#    <div class="container">#}
{#        <div class="row clearfix">#}
{#            <div class="col-md-12 column">#}
{#                <form method="post" action="{{ url_for('edit_student') }}">#}
{#                                        {{ form.csrf_token }}#}
{#                    {{ form.xh.label }}{{ form.xh }}<br>#}
{#                    {{ form.Submit }}#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                {{ render_form(form, action=request.full_path) }}
            </div>
        </div>
    </div>

{% endblock %}