<!doctype html>
<html>
<head design-width="750">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>业务申请</title>


 <link rel="stylesheet" href="{{ url_for('static', filename='css/sun/111.css') }}" type="text/css"><!--页面样式-->

{% block scripts %}
<script src={{ url_for('static', filename='js/sun/123.js') }}></script><!--设置字体大小-->
<script src={{ url_for('static', filename='js/sun/jquery-2.2.4.min.js') }}></script><!--设置字体大小-->
{% endblock %}


</head>

<body>

<div class="mobile-wrap center mobile-wrap-mb">
	<main>
		<div class="inform">
			<br><br><br>
			<h3>请选择需要办理的业务</h3>
			<div class="inform-list">
				<ul>
					<li class="acti"><small>学历证明申请</small> </li>
					<li><small>在校生学籍证明申请</small></li>
					<li><small>注销学籍申请</small></li>
					<li><small>保留学籍申请</small></li>
					<li><small>复学类申请</small></li>
					<li><small>休学类申请</small></li>
					<li><small>转专业申请</small></li>
					<li><small>退学类申请</small></li>
                </ul>
			</div>
            <p style="text-align: center">
                {% for massage in get_flashed_messages() %}
                    {{ massage }}
                {% endfor %}
            </p>
			<!-- 学历证明申请 -->
			<form class="inform-text show" method="post" action="{{ url_for('logins')}}">{{ form.csrf_token }}
                <p style="display: none">
					<span>
						<small><small><small>{{ form.matter.label }}：</small></small></small>
					</span>
					{{ form.matter(value='学历') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.name.label }}：</small></small></small>
					</span>
					{{ form.name(placeholder='请输入你的姓名') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.stu_num.label }}：</small></small></small>
					</span>
					{{ form.stu_num(placeholder='请输入你的学号') }}
				</p>
{#				<p>#}
{#					<span>#}
{#						<small><small><small> {{ form.sex.label }}：</small></small></small>#}
{#					</span>#}
{#					{{ form.sex(placeholder='请选择你的性别') }}#}
{#				</p>#}
{#				<p>#}
{#					<span>#}
{#						<small><small><small>{{ form.school_sttime.label }}：</small></small></small>#}
{#					</span>#}
{#					{{ form.school_sttime(placeholder='入校时间',type="date",value="年/月/日",min="1900-09-16",max="2100-09-26") }}#}
{#					<!-- <input type="text" /> -->#}
{#				</p>#}
{#				<p>#}
{#					<span>#}
{#						<small><small><small>{{ form.school_endtime.label }}：</small></small></small>#}
{#					</span>#}
{#					{{ form.school_endtime(placeholder='离校时间',type="date",value="年/月/日",min="1900-09-16",max="2100-09-26") }}#}
{#					<!-- <input type="text" /> -->#}
{#				</p>#}
				<p>
					<span>
						<small><small><small>{{ form.school.label }}：</small></small></small>
					</span>
					<!-- 此处应为下拉列表，待修改-->
					{{ form.school(value='龙子湖校区')}}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.campus.label }}：</small></small></small>
					</span>
					<!-- 此处应为下拉列表，待修改 -->
					{{ form.campus(placeholder='请输入你的所在学院')}}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.discipline.label }}：</small></small></small>
					</span>
					<!-- 此处应为下拉列表，待修改 -->
					{{ form.discipline(placeholder='请输入你的专业')}}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.leng_school.label }}：</small></small></small>
					</span>
					<!-- 此处应为下拉列表，待修改 -->
					{{ form.leng_school(placeholder='请输入你的专业的学制（数字）')}}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.code.label }}：</small></small></small>
					</span>
					{{ form.code(placeholder='请输入你的证书编号')}}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.reason.label }}：</small></small></small>
					</span>
					{{ form.reason(placeholder='请输入你的原因') }}
				</p>
				<h4>
					{{ form.Submit }}
				</h4>
			</form>
			<!-- 在校生学籍证明申请 -->
			<form class="inform-text show" method="post" action="{{ url_for('logins')}}">{{ form.csrf_token }}
                <p style="display: none">
					<span>
						<small><small><small>{{ form.matter.label }}：</small></small></small>
					</span>
					{{ form.matter(value='学籍') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.name.label }}：</small></small></small>
					</span>
					{{ form.name(placeholder='请输入你的姓名') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.stu_num.label }}：</small></small></small>
					</span>
					{{ form.stu_num(placeholder='请输入你的学号') }}
				</p>
{#				<p>#}
{#					<span>#}
{#						<small><small><small> {{ form.sex.label }}：</small></small></small>#}
{#					</span>#}
{#					{{ form.sex(placeholder='请选择你的性别') }}#}
{#				</p>#}
				<p>
					<span>
						<small><small><small>离校{{ form.reason.label }}：</small></small></small>
					</span>
					{{ form.reason(placeholder='请输入你的原因') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.leng_school.label }}：</small></small></small>
					</span>
					<!-- 此处应为下拉列表，待修改 -->
					{{ form.leng_school(placeholder='请输入你学制')}}
				</p>
{#				<p>#}
{#					<span>#}
{#						<small><small><small>{{ form.identity.label }}：</small></small></small>#}
{#					</span>#}
{#					<!-- 此处应为下拉列表，待修改 -->#}
{#					{{ form.identity(placeholder='请输入你的身份证号')}}#}
{#				</p>#}
				<h4>
					{{ form.Submit }}
				</h4>
            </form>
			<!-- 注销学籍申请 -->
			<form class="inform-text show" method="post" action="{{ url_for('logins') }}">{{ form.csrf_token }}
                <p style="display: none">
					<span>
						<small><small><small>{{ form.matter.label }}：</small></small></small>
					</span>
					{{ form.matter(value='注销') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.name.label }}：</small></small></small>
					</span>
					{{ form.name(placeholder='请输入你的姓名') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.stu_num.label }}：</small></small></small>
					</span>
					{{ form.stu_num(placeholder='请输入你的学号') }}
				</p>
				<p>
					<span>
						<small><small><small>离校{{ form.reason.label }}：</small></small></small>
					</span>
					{{ form.reason(placeholder='请输入你的原因') }}
				</p>
				<h4>
					{{ form.Submit }}
				</h4>
            </form>
			<!-- 保留学籍类申请 -->
			<form class="inform-text show" method="post" action="{{ url_for('logins') }}">
                {{ form.csrf_token }}
                <p style="display: none">
					<span>
						<small><small><small>{{ form.matter.label }}：</small></small></small>
					</span>
					{{ form.matter(value='保留学籍') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.name.label }}：</small></small></small>
					</span>
					{{ form.name(placeholder='请输入你的姓名') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.stu_num.label }}：</small></small></small>
					</span>
					{{ form.stu_num(placeholder='请输入你的学号') }}
				</p>
{#				<p>#}
{#					<span>#}
{#						<small><small><small> {{ form.sex.label }}：</small></small></small>#}
{#					</span>#}
{#					{{ form.sex(placeholder='请选择你的性别') }}#}
{#				</p>#}
				<p>
					<span>
						<small><small><small>离校{{ form.reason.label }}：</small></small></small>
					</span>
					{{ form.reason(placeholder='请输入你的原因') }}
				</p>
{#				<p>#}
{#					<span>#}
{#						<small><small><small>{{ form.school_sttime.label }}：</small></small></small>#}
{#					</span>#}
{#					{{ form.school_sttime(placeholder='入校时间',type="date",value="年/月/日",min="1900-09-16",max="2100-09-26") }}#}
{#					<!-- <input type="text" /> -->#}
{#				</p>#}
{#				<p>#}
{#					<span>#}
{#						<small><small><small>{{ form.school_endtime.label }}：</small></small></small>#}
{#					</span>#}
{#					{{ form.school_endtime(placeholder='离校时间',type="date",value="年/月/日",min="1900-09-16",max="2100-09-26") }}#}
{#					<!-- <input type="text" /> -->#}
{#				</p>#}
				<p>
					<span>
						<small><small><small>{{ form.per_tel.label }}：</small></small></small>
					</span>
					{{ form.per_tel(placeholder='个人联系方式') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.home_tel.label }}：</small></small></small>
					</span>
					{{ form.home_tel(placeholder='家庭联系方式') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.home_address.label }}：</small></small></small>
					</span>
					{{ form.home_address(placeholder='家庭住址（20字内）') }}
                </p>
				<h4>
					{{ form.Submit }}
				</h4>
            </form>
			<!-- 复学类申请 -->
			<form class="inform-text show" method="post" action="{{ url_for('logins') }}">{{ form.csrf_token }}
                <p style="display: none">
					<span>
						<small><small><small>{{ form.matter.label }}：</small></small></small>
					</span>
					{{ form.matter(value='复学') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.name.label }}：</small></small></small>
					</span>
					{{ form.name(placeholder='请输入你的姓名') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.stu_num.label }}：</small></small></small>
					</span>
					{{ form.stu_num(placeholder='请输入你的学号') }}
				</p>
				<p>
					<span>
						<small><small><small>复学{{ form.reason.label }}：</small></small></small>
					</span>
					{{ form.reason(placeholder='请输入你的原因') }}
				</p>
				<h4>
					{{ form.Submit }}
				</h4>
            </form>
			<!-- 休学类申请 -->
			<form class="inform-text show" method="post" action="{{ url_for('logins') }}">{{ form.csrf_token }}
                <p style="display: none">
					<span>
						<small><small><small>{{ form.matter.label }}：</small></small></small>
					</span>
					{{ form.matter(value='休学') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.name.label }}：</small></small></small>
					</span>
					{{ form.name(placeholder='请输入你的姓名') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.stu_num.label }}：</small></small></small>
					</span>
					{{ form.stu_num(placeholder='请输入你的学号') }}
				</p>
{#				<p>#}
{#					<span>#}
{#						<small><small><small> {{ form.sex.label }}：</small></small></small>#}
{#					</span>#}
{#					{{ form.sex(placeholder='请选择你的性别') }}#}
{#				</p>#}
				<p>
					<span>
						<small><small><small>{{ form.per_tel.label }}：</small></small></small>
					</span>
					{{ form.per_tel(placeholder='个人联系方式') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.home_tel.label }}：</small></small></small>
					</span>
					{{ form.home_tel(placeholder='家庭联系方式') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.home_address.label }}：</small></small></small>
					</span>
					{{ form.home_address(placeholder='家庭住址（20字内）') }}
				</p>
{#				<p>#}
{#					<span>#}
{#						<small><small><small>{{ form.school_sttime.label }}：</small></small></small>#}
{#					</span>#}
{#                    {{ form.school_sttime(placeholder='入校时间',type="date",value="年/月/日",min="1900-09-16",max="2100-09-26") }}#}
{#					<!-- <input type="text" /> -->#}
{#				</p>#}
{#				<p>#}
{#					<span>#}
{#						<small><small><small>{{ form.school_endtime.label }}：</small></small></small>#}
{#					</span>#}
{#                    {{ form.school_endtime(placeholder='离校时间',type="date",value="年/月/日",min="1900-09-16",max="2100-09-26") }}#}
{#					<!-- <input type="text" /> -->#}
{#				</p>#}
				<p>
					<span>
						<small><small><small>离校{{ form.reason.label }}：</small></small></small>
					</span>
					{{ form.reason(placeholder='请输入你的原因') }}
				</p>
				<h4>
					{{ form.Submit }}
				</h4>
            </form>
			<!-- 转专业类申请 -->
			<form class="inform-text show" method="post" action="{{ url_for('logins') }}">{{ form.csrf_token }}
                <p style="display: none">
					<span>
						<small><small><small>{{ form.matter.label }}：</small></small></small>
					</span>
					{{ form.matter(value='转专业') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.name.label }}：</small></small></small>
					</span>
					{{ form.name(placeholder='请输入你的姓名') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.stu_num.label }}：</small></small></small>
					</span>
					{{ form.stu_num(placeholder='请输入你的学号') }}
				</p>
{#				<p>#}
{#					<span>#}
{#						<small><small><small> {{ form.sex.label }}：</small></small></small>#}
{#					</span>#}
{#					{{ form.sex(placeholder='请选择你的性别') }}#}
{#				</p>#}
{#				<p>#}
{#					<span>#}
{#						<small><small><small>转出时间：</small></small></small>#}
{#					</span>#}
{#                    {{ form.school_endtime(placeholder='转出时间',type="date",value="年/月/日",min="1900-09-16",max="2100-09-26") }}#}
{#					<!-- <input type="text" /> -->#}
{#				</p>#}
				<p>
					<span>
						<small><small><small>{{ form.dom_dorm.label }}：</small></small></small>
					</span>
                    {{ form.dom_dorm(placeholder='请输入宿舍号(限制3位)') }}
					<!-- <input type="text" /> -->
				</p>
				<p>
					<span>
						<small><small><small>{{ form.reason.label }}：</small></small></small>
					</span>
					{{ form.reason(placeholder='请输入你的原因') }}
				</p>
				<h4>
					{{ form.Submit }}
				</h4>
            </form>
			<!-- 退学类申请 -->
			<form class="inform-text show" method="post" action="{{ url_for('logins') }}">{{ form.csrf_token }}
                <p style="display: none">
					<span>
						<small><small><small>{{ form.matter.label }}：</small></small></small>
					</span>
					{{ form.matter(value='退学') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.name.label }}：</small></small></small>
					</span>
					{{ form.name(placeholder='请输入你的姓名') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.stu_num.label }}：</small></small></small>
					</span>
					{{ form.stu_num(placeholder='请输入你的学号') }}
				</p>
{#				<p>#}
{#					<span>#}
{#						<small><small><small> {{ form.sex.label }}：</small></small></small>#}
{#					</span>#}
{#					{{ form.sex(placeholder='请选择你的性别') }}#}
{#				</p>#}
				<p>
					<span>
						<small><small><small>{{ form.per_tel.label }}：</small></small></small>
					</span>
					{{ form.per_tel(placeholder='个人联系方式') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.home_tel.label }}：</small></small></small>
					</span>
					{{ form.home_tel(placeholder='家庭联系方式') }}
				</p>
				<p>
					<span>
						<small><small><small>{{ form.home_address.label }}：</small></small></small>
					</span>
					{{ form.home_address(placeholder='家庭住址（20字内）') }}
				</p>
{#				<p>#}
{#					<span>#}
{#						<small><small><small>{{ form.school_sttime.label }}：</small></small></small>#}
{#					</span>#}
{#                    {{ form.school_sttime(placeholder='入校时间',type="date",value="年/月/日",min="1900-09-16",max="2100-09-26") }}#}
{#					<!-- <input type="text" /> -->#}
{#				</p>#}
{#				<p>#}
{#					<span>#}
{#						<small><small><small>{{ form.school_endtime.label }}：</small></small></small>#}
{#					</span>#}
{#                    {{ form.school_endtime(placeholder='离校时间',type="date",value="年/月/日",min="1900-09-16",max="2100-09-26") }}#}
{#					<!-- <input type="text" /> -->#}
{#				</p>#}
				<p>
					<span>
						<small><small><small>离校{{ form.reason.label }}：</small></small></small>
					</span>
					{{ form.reason(placeholder='请输入你的原因') }}
				</p>
				<h4>
					{{ form.Submit }}
				</h4>
            </form>
		</div>
	</main>
</div>
<!--mobile_wrap-->
<script type="text/javascript">
	$('.inform-list ul li').click(function(){
		var n=$(this).index();
		$(this).addClass('acti').siblings().removeClass('acti');
		$('.inform-text').fadeOut();
		$('.inform-text').eq(n).fadeIn();
	})
</script>
</body>
</html>